<h2 mat-dialog-title>Add</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="myform">
        <div class="row">
            <!-- for email -->
            <mat-form-field class="example-full-width col-12">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="!myform.controls['email'].valid && myform.controls['email'].touched">
                    {{ getErrorEmail() }}
                  </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!myform.valid" (click) = "onSubmit(myform.value)">Submit Form</button>
</mat-dialog-actions>