.center{
    text-align: center;
}
.m-top{
margin-top:20px;
}

.btnLogin{
    width: 100%;
    top: 10px;
}

.example-full-width {
    width: 100%;
  }
  .center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }